<div id="<%= dom_id position %>">
  <p>
    <strong>Name:</strong>
    <%= position.name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= position.date %>
  </p>

  <p>
    <strong>Information:</strong>
    <%= position.information_id %>
  </p>

</div>
