<div id="<%= dom_id information %>">
  <p>
    <strong>Name:</strong>
    <%= information.name %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= information.department %>
  </p>

  <p>
    <strong>User:</strong>
    <%= information.user_id %>
  </p>

</div>
